<h2>Welcome to Pizza Shop!</h2>



<div class="row">
	<% @products.each do |p| %>
		<div class="col-md-4"> 
			<div>
				<%= p.title %>
			</div>			 
			<div>
				<img src='<%= p.path_to_image %>'  width='200px' height='150px' />
			</div>
			<div>
				<%= p.description %>
			</div>
			<div>
				Price: <%= p.price %> RUB. 
			</div>			 
		</div>
	<% end %>		
</div>

<button class="btn btn-primary" onclick="something()">Click me!</button>